<configuration>

  <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender"
              name="JSON">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>json.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>json.log.%i</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <logger level="DEBUG" name="json">
        <appender-ref ref="JSON" />
    </logger>

</configuration>